<%- include("./_partials/header")%>
  <h1>Home Page</h1>
  <h4>Thanks Jim n' Jon</h4>
  <img src="http://i0.kym-cdn.com/entries/icons/facebook/000/011/365/GRUMPYCAT.jpg">
  <h5>Node is kewl.</h5>
  
</body>
</html>
<%- include("./_partials/footer")%>
